$mobile-font: 12px;
$tablet-font: 14px;
$regular-font: 16px;
$big-font: 26px;
$screen-XS: 360px;
$screen-tablet: 768px;
$screen-rest: 1366px;
$primary-color: #b5b4dc;
$font-color: whitesmoke;
$secondary-color: #083d77;
$accent-color: #5603ad;
