* {
  scroll-behavior: smooth;
}

.mobile-wrapper {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b5b4dc;
  overflow-x: hidden;
}

@media (max-width: 1366px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

body .nav-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  body .nav-menu__container {
    background-color: #083d77;
  }
}

body .nav-menu__container .nav-menu__logo-container {
  padding: 0.3rem;
  margin-left: 1rem;
  opacity: 0.75;
}

@media (max-width: 768px) {
  body .nav-menu__container .nav-menu__logo-container {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    margin: 0;
    padding: 0;
    position: relative;
  }
}

body .nav-menu__container .nav-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 2.5rem;
}

@media (max-width: 768px) {
  body .nav-menu__container .nav-menu__links {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    margin-left: -1000px;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 6.5%;
    z-index: 100;
    left: 0;
    text-align: center;
    padding: 0;
    -webkit-box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.25);
  }
}

body .nav-menu__container .nav-menu__links .nav-menu__link {
  padding: 0 1rem;
  position: relative;
}

@media (max-width: 768px) {
  body .nav-menu__container .nav-menu__links .nav-menu__link {
    background-color: white;
    color: #083d77;
    padding: 0.5rem;
  }
  body .nav-menu__container .nav-menu__links .nav-menu__link:hover {
    background-color: whitesmoke;
  }
}

body .nav-menu__container .nav-menu__links a {
  text-decoration: none;
  padding: 0.2rem;
  color: whitesmoke;
  font-weight: bold;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
}

body .nav-menu__container .nav-menu__links a:hover {
  color: cornsilk;
}

body .nav-menu__container .nav-menu__links a:hover::before {
  -webkit-transform: scaleX(75);
          transform: scaleX(75);
  visibility: visible;
}

body .nav-menu__container .nav-menu__links a::before {
  visibility: hidden;
  width: 1px;
  height: 2px;
  background-color: #5603ad;
  position: absolute;
  bottom: 0;
  left: calc(50% + 10px);
  content: "";
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 768px) {
  body .nav-menu__container .nav-menu__links a {
    padding: 0.5rem 40%;
    color: #083d77;
  }
  body .nav-menu__container .nav-menu__links a:hover {
    color: #5603ad;
  }
}

body .nav-menu__container .nav-menu__hamburger-container {
  display: none;
  margin: 1rem;
}

body .nav-menu__container .nav-menu__hamburger-container .nav-menu__hamburger {
  position: relative;
}

body .nav-menu__container .nav-menu__hamburger-container .nav-menu__hamburger .toggle {
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  width: 0;
}

body .nav-menu__container .nav-menu__hamburger-container .nav-menu__hamburger .toggle::before {
  content: " ";
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .nav-menu__container .nav-menu__hamburger-container .nav-menu__hamburger .toggle::after {
  content: " ";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
}

body .nav-menu__container .nav-menu__hamburger-container .nav-menu__hamburger .bar1 {
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

body .nav-menu__container .nav-menu__hamburger-container .nav-menu__hamburger .bar1::before {
  content: " ";
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

body .nav-menu__container .nav-menu__hamburger-container .nav-menu__hamburger .bar1::after {
  content: " ";
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
}

@media (max-width: 768px) {
  body .nav-menu__container .nav-menu__hamburger-container {
    display: block;
    cursor: pointer;
    width: 30px;
  }
}

body .intro-section__container {
  margin: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  body .intro-section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem;
  }
}

body .intro-section__container .intro-section__welcome-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: none;
}

@media (max-width: 768px) {
  body .intro-section__container .intro-section__welcome-text {
    text-align: center;
  }
}

body .intro-section__container .intro-section__welcome-text .intro-section__heading {
  font-size: 26px;
}

body .intro-section__container .intro-section__btn {
  border: 1px solid #083d77;
  z-index: 10;
  padding: 0.8rem;
  border-radius: 15px;
  background-color: #083d77;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  z-index: 2;
  letter-spacing: 1px;
  opacity: 0.8;
}

body .intro-section__container .intro-section__btn a {
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

body .intro-section__container .intro-section__btn:hover {
  background-color: whitesmoke;
  border: 1px solid #083d77;
}

body .intro-section__container .intro-section__btn:hover a {
  color: #083d77;
}

body .intro-section__container .intro-section__btn i {
  vertical-align: middle;
}

body .intro-section__container .intro-section__hero-img-container img {
  width: 100%;
}

@media (max-width: 768px) {
  body .intro-section__container .intro-section__hero-img-container img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 1100px) {
  body .intro-section__container {
    margin-bottom: 7rem;
  }
}

body .offer-section {
  margin: 3rem;
}

@media (max-width: 768px) {
  body .offer-section {
    margin: 1rem;
  }
}

body .offer-section .offer-container .offer-section__header-tag {
  color: #5603ad;
  font-weight: bolder;
}

body .offer-section .offer-container .offer-section__heading {
  font-size: 26px;
  position: relative;
  padding-bottom: 1rem;
}

body .offer-section .offer-container .offer-section__heading::before {
  background-image: url("./image/blob1.svg");
  background-repeat: no-repeat;
  position: absolute;
  height: 400px;
  width: 400px;
  opacity: 0.3;
  z-index: -1;
  content: " ";
  top: -200px;
  left: -100px;
}

@media (max-width: 1366px) {
  body .offer-section .offer-container .offer-section__heading::before {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media (max-width: 768px) {
  body .offer-section .offer-container .offer-section__heading::before {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

body .offer-section .offer-container__grid-container {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

@media (max-width: 768px) {
  body .offer-section .offer-container__grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body .offer-section .offer-container__grid-container .offer-container__grid-item {
  text-align: center;
}

body .offer-section .offer-container__grid-container .offer-container__grid-item .offer-container__grid-item-heading {
  color: #5603ad;
}

body .offer-section .offer-container__grid-container .offer-container__grid-item .grid-item-svg {
  max-width: 60px;
  color: #5603ad;
}

body .my-projects {
  margin: 4rem;
}

body .my-projects .my-projects__slider {
  -webkit-box-shadow: 0px 6px 13px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 13px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 80%;
  min-width: 200px;
}

@media (max-width: 768px) {
  body .my-projects .my-projects__slider {
    width: 90%;
    font-size: 10px;
  }
  body .my-projects .my-projects__slider:hover .elem-description {
    opacity: 1;
  }
}

body .my-projects .my-projects__slider .my-projects__slider-elem img {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

body .my-projects .my-projects__slider .elem-description {
  padding: 1rem 3rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
  opacity: 1;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 768px) {
  body .my-projects .my-projects__slider .elem-description {
    opacity: 0;
    height: 100%;
    padding: 1rem 2rem;
  }
}

body .my-projects .my-projects__slider .elem-description article {
  width: 15%;
}

@media (max-width: 768px) {
  body .my-projects .my-projects__slider .elem-description article {
    margin: 1rem 0;
    position: absolute;
    bottom: 0;
  }
}

body .my-projects .my-projects__slider .elem-description i {
  color: white;
  font-size: 26px;
  padding-right: 0.5rem;
}

body .my-projects .my-projects__slider .elem-description i:hover {
  color: lightgray;
}

@media (max-width: 768px) {
  body .my-projects .my-projects__slider .elem-description i {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  body .my-projects {
    margin: 1rem;
  }
}

body .my-projects .my-projects__slide {
  margin: 0 auto;
  position: relative;
}

body .my-projects .my-projects__slide img {
  width: 100%;
}

body .my-projects .my-projects__slide .my-projects__slide-desc {
  position: absolute;
}

body .my-projects .my-projects__header-tag {
  color: #5603ad;
  font-weight: bolder;
  position: relative;
}

body .my-projects .my-projects__header-tag::before {
  background-image: url(./image/blob4.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 400px;
  width: 400px;
  opacity: 0.3;
  z-index: -1;
  content: " ";
  top: -130px;
  left: -160px;
}

@media (max-width: 1366px) {
  body .my-projects .my-projects__header-tag::before {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media (max-width: 768px) {
  body .my-projects .my-projects__header-tag::before {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

body .my-projects .my-projects__heading {
  margin-bottom: 5rem;
}

body .about-me {
  margin: 0 3rem;
}

@media (max-width: 768px) {
  body .about-me {
    margin: 1rem;
  }
}

body .about-me .about-me__header-tag {
  color: #5603ad;
  font-weight: bolder;
  text-align: right;
  position: relative;
}

@media (max-width: 768px) {
  body .about-me .about-me__header-tag {
    width: 20%;
    margin-left: 80%;
  }
}

body .about-me .about-me__header-tag::before {
  background-image: url("./image/blob.svg");
  background-repeat: no-repeat;
  position: absolute;
  height: 400px;
  width: 400px;
  opacity: 0.3;
  z-index: -1;
  content: " ";
  top: -150px;
  left: 0px;
}

@media (max-width: 1366px) {
  body .about-me .about-me__header-tag::before {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media (max-width: 768px) {
  body .about-me .about-me__header-tag::before {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 768px) {
  body .about-me .about-me__header-tag::before {
    left: -150px;
  }
}

body .about-me .about-me__heading {
  text-align: right;
  margin-bottom: 2rem;
  width: 100%;
}

body .about-me .about-me__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5rem;
}

@media (max-width: 768px) {
  body .about-me .about-me__container {
    margin: 1rem;
  }
}

@media (max-width: 768px) {
  body .about-me .about-me__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

body .about-me .about-me__container .about-me__header-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body .about-me .about-me__container .about-me__header-img .about-me__img img {
  -webkit-box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1366px) {
  body .about-me .about-me__container .about-me__header-img .about-me__img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body .about-me .about-me__container .about-me__header-img .about-me__img img {
    width: 50%;
    border-radius: 50%;
  }
}

body .about-me .about-me__container .about-me__text-techs {
  width: 60%;
  padding-top: 4rem;
}

@media (max-width: 768px) {
  body .about-me .about-me__container .about-me__text-techs {
    width: 100%;
    padding-top: 1rem;
  }
}

body .about-me .about-me__container .about-me__text-techs p {
  padding: 0.5rem 0;
}

body .about-me .about-me__container .about-me__text-techs .tech-container .tech-container__heading {
  color: #5603ad;
  font-weight: bold;
}

body .about-me .about-me__container .about-me__text-techs .tech-container .tech-icons-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  body .about-me .about-me__container .about-me__text-techs .tech-container .tech-icons-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .about-me .about-me__container .about-me__text-techs .tech-container .tech-icons-container img {
  padding: 0.4rem;
  width: 64px;
}

@media (max-width: 1366px) {
  body .about-me .about-me__container .about-me__text-techs .tech-container .tech-icons-container img {
    width: 48px;
  }
}

@media (max-width: 768px) {
  body .about-me .about-me__container .about-me__text-techs .tech-container .tech-icons-container img {
    width: 32px;
  }
}

body .contact {
  margin: 3rem;
}

@media (max-width: 768px) {
  body .contact {
    margin: 1rem;
  }
}

body .contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  body .contact .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .contact .contact-container .contact__text {
  width: 40%;
}

@media (max-width: 768px) {
  body .contact .contact-container .contact__text {
    width: 100%;
  }
}

body .contact .contact-container .contact__text .contact__header-tag {
  color: #5603ad;
  font-weight: bolder;
  position: relative;
}

body .contact .contact-container .contact__text .contact__header-tag::before {
  background-image: url(./image/blob2.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 400px;
  width: 400px;
  opacity: 0.3;
  z-index: -1;
  content: " ";
  top: -150px;
  left: -100px;
}

@media (max-width: 1366px) {
  body .contact .contact-container .contact__text .contact__header-tag::before {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media (max-width: 768px) {
  body .contact .contact-container .contact__text .contact__header-tag::before {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 768px) {
  body .contact .contact-container .contact__text .contact__header-tag::before {
    left: -150px;
  }
}

body .contact .contact-container .contact__text .contact__social-media-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  padding: 2rem 0;
}

body .contact .contact-container .contact__text .contact__social-media-bar i {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #083d77;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

body .contact .contact-container .contact__text .contact__social-media-bar i:hover {
  color: #5603ad;
}

body .contact .contact-container .contant-form {
  background-color: #083d77;
  padding: 2rem;
  width: 40%;
  -webkit-box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  body .contact .contact-container .contant-form {
    width: 70%;
    margin: 0 auto;
  }
}

body .contact .contact-container .contant-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .contact .contact-container .contant-form form .contact-form__heading {
  text-align: center;
}

body .contact .contact-container .contant-form form label {
  padding: 0.3rem 0;
}

body .contact .contact-container .contant-form form input {
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

body .contact .contact-container .contant-form form textarea {
  resize: none;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

body .contact .contact-container .contant-form form .contact-form__submit-msg-btn {
  border: none;
  margin-top: 0.8rem;
  padding: 0.8rem;
  background-color: #5603ad;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

body .contact .contact-container .contant-form form .contact-form__submit-msg-btn:hover {
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
}

body .main-footer {
  background-color: #083d77;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

body .main-footer a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

body .main-footer a:hover {
  color: dodgerblue;
}

body .main-footer span {
  color: red;
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */