$mobile-font: 12px;
$tablet-font: 14px;
$regular-font: 16px;
$big-font: 26px;
$screen-XS: 360px;
$screen-tablet: 768px;
$screen-rest: 1366px;
$primary-color: #b5b4dc;
$font-color: whitesmoke;
$secondary-color: #083d77;
$accent-color: #5603ad;
@mixin displayFlex($flex-direction, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}
body {
  //general settings
  font-family: "Open Sans", sans-serif;
  color: $font-color;
  font-size: $regular-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary-color;
  overflow-x: hidden;
  @media (max-width: $screen-rest) {
    font-size: $tablet-font;
  }
  @media (max-width: $screen-tablet) {
    font-size: $mobile-font;
  }
  //navigation
  .nav-menu__container {
    @include displayFlex(row, space-between);
    width: 100%;
    .nav-menu__logo-container {
      padding: 0.3rem;
      margin-left: 2%;
      opacity: 0.75;
    }
    .nav-menu__links {
      @include displayFlex(row, space-around);
      list-style-type: none;
      align-self: flex-end;
      margin-right: 5%;
      @media (max-width: $screen-tablet) {
        display: none;
      }
      .nav-menu__link {
        padding: 0 1rem;
        a {
          text-decoration: none;
          color: $font-color;
          font-weight: bold;
        }
      }
    }
    @mixin hamburgerBarStyling($position) {
      width: 25px;
      height: 3px;
      background-color: white;
      position: $position;
      border-radius: 2px;
    }
    .nav-menu__hamburger-container {
      display: none;
      margin: 2rem 3rem;
      .toggle .bar1 {
        opacity: 0;
        transform: translateX(-30px);
      }
      .toggle .nav-menu__hamburger::before {
        transform: rotate(45deg);
      }
      .toggle .nav-menu__hamburger::after {
        transform: rotate(-45deg);
      }
      .nav-menu__hamburger {
        position: relative;
        .bar1 {
          @include hamburgerBarStyling(absolute);
          transition: 0.3s all;
        }

        &::before {
          content: " ";
          transition: 0.5s transform;
          @include hamburgerBarStyling(absolute);
          transform: translateY(9px);
        }
        &::after {
          content: " ";
          transition: 0.5s transform;
          @include hamburgerBarStyling(absolute);
          transform: translateY(-9px);
        }
      }
      @media (max-width: $screen-tablet) {
        display: block;
        cursor: pointer;
        height: 30px;
        width: 30px;
      }
    }
  }
  //intro sect
  .intro-section__container {
    margin: 0 5%;
    @include displayFlex(row, space-between);
    @media (max-width: $screen-tablet) {
      flex-direction: column;
    }
    .intro-section__welcome-text {
      align-self: center;
      overflow: visible;
      white-space: none;
      @media (max-width: $screen-tablet) {
        text-align: center;
        padding-top: 10%;
        margin: 0;
      }
      .intro-section__heading {
        font-size: $big-font;
      }
    }
    .intro-section__btn {
      border: none;
      padding: 0.8rem;
      border-radius: 15px;
      background-color: $secondary-color;
      color: $font-color;
      font-weight: bold;
      cursor: pointer;
      margin-top: 2rem;
      transition: 0.5s all;
      position: relative;
      z-index: 2;
      letter-spacing: 1px;
      opacity: 0.8;
      i {
        vertical-align: middle;
      }
    }
    .intro-section__hero-img-container {
      img {
        width: 100%;
        min-height: 90vh;
        @media (max-width: $screen-tablet) {
          min-height: auto;
          transform: scale(0.9);
        }
      }
    }
  }

  @mixin blobStyle($top, $left, $blob-img) {
    background-image: $blob-img;
    background-repeat: no-repeat;
    position: absolute;
    height: 400px;
    width: 400px;
    opacity: 0.3;
    z-index: -1;
    content: " ";
    top: $top;
    left: $left;
    @media (max-width: $screen-rest) {
      transform: scale(0.75);
    }
    @media (max-width: $screen-tablet) {
      transform: scale(0.6);
    }
  }
  //offer section
  .offer-section {
    margin: 5% 5%;
    .offer-container {
      .offer-section__header-tag {
        color: $accent-color;
        font-weight: bolder;
      }
      .offer-section__heading {
        font-size: $big-font;
        position: relative;
        padding-bottom: 1rem;
        &::before {
          @include blobStyle(-200px, -100px, url("./image/blob1.svg"));
        }
      }
    }
    .offer-container__grid-container {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
      @media (max-width: $screen-tablet) {
        grid-template-columns: 1fr;
      }
      .offer-container__grid-item {
        text-align: center;
        .offer-container__grid-item-heading {
          color: $accent-color;
        }
        .grid-item-svg {
          max-width: 60px;
          color: $accent-color;
        }
      }
    }
  }
  //My projects section with slider
  .my-projects {
    margin: 5%;
    .my-projects__header-tag {
      color: $accent-color;
      font-weight: bolder;
      position: relative;
      &::before {
        @include blobStyle(-130px, -160px, url(./image/blob4.svg));
      }
    }
  }
  //about me section
  .about-me {
    margin: 0 5%;
    .about-me__header-tag {
      color: $accent-color;
      font-weight: bolder;
      text-align: right;
      position: relative;
      @media (max-width: $screen-tablet) {
        width: 10%;
        margin-left: 80%;
      }
      &::before {
        @include blobStyle(-150px, 0px, url("./image/blob.svg"));
        @media (max-width: $screen-tablet) {
          left: -150px;
        }
      }
    }
    .about-me__heading {
      text-align: right;
      margin-bottom: 2rem;
      width: 100%;
    }
    .about-me__container {
      @include displayFlex(row, space-between);
      margin-right: 5%;
      @media (max-width: $screen-tablet) {
        flex-direction: column-reverse;
        text-align: center;
      }
      .about-me__header-img {
        order: 2;
        .about-me__img img {
          box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.5);
          border: 1px solid black;
          filter: saturate(200%);
          height: 75%;
          width: 125%;
          border-radius: 15px;
          @media (max-width: $screen-rest) {
            margin-left: 10%;
            height: 60%;
            width: 100%;
          }
          @media (max-width: $screen-tablet) {
            height: 50%;
            width: 50%;
            border-radius: 50%;
          }
        }
      }
      .about-me__text-techs {
        width: 60%;
        padding-top: 5%;
        @media (max-width: $screen-tablet) {
          width: 100%;
        }
        p {
          padding: 0.5rem 0;
        }
        .tech-container {
          .tech-container__heading {
            color: $accent-color;
            font-weight: bold;
          }
          .tech-icons-container {
            margin-top: 2rem;
            @include displayFlex(row, flex-start);
            @media (max-width: $screen-tablet) {
              justify-content: center;
            }
            img {
              padding: 0.4rem;
              width: 64px;
              height: 64px;
              @media (max-width: $screen-rest) {
                width: 48px;
                height: 48px;
              }
              @media (max-width: $screen-tablet) {
                width: 32px;
                height: 32px;
              }
            }
          }
        }
      }
    }
  }
  //contact section
  .contact {
    margin: 5% 5%;
    .contact-container {
      @include displayFlex(row, space-between);
      @media (max-width: $screen-tablet) {
        flex-direction: column;
      }
      .contact__text {
        width: 50%;
        @media (max-width: $screen-tablet) {
          width: 100%;
        }
        .contact__header-tag {
          color: $accent-color;
          font-weight: bolder;
          position: relative;
          &::before {
            @include blobStyle(-150px, -100px, url(./image/blob2.svg));
            @media (max-width: $screen-tablet) {
              left: -150px;
            }
          }
        }
        .contact__social-media-bar {
          @include displayFlex(row, space-around);
          width: 30%;
          padding: 5% 0;
          i {
            transform: scale(2);
            color: $secondary-color;
          }
        }
      }
      @mixin inputStyling() {
        padding: 0.5rem;
        font-family: "Open Sans", sans-serif;
      }
      .contant-form {
        background-color: $secondary-color;
        padding: 2rem;
        width: 30%;
        box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.5);
        @media (max-width: $screen-tablet) {
          width: 75%;
          margin: 0 auto;
        }
        form {
          @include displayFlex(column, flex-start);
          .contact-form__heading {
            text-align: center;
          }
          label {
            padding: 0.3rem 0;
          }
          input {
            @include inputStyling();
          }
          textarea {
            resize: none;
            @include inputStyling();
          }
          .contact-form__submit-msg-btn {
            border: none;
            margin-top: 0.8rem;
            padding: 0.8rem;
            background-color: $accent-color;
            color: $font-color;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
  footer {
    background-color: $secondary-color;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
}
